<!-- <div class="container">
  <div class="card-row">
    <div class="card-header">
    </div>
    <div class="card-body">
      <app-event-form [eventList]="eventList" [eventDates]="eventDates"></app-event-form>
    </div>
    <div class="card-body">
      <app-event-list [events]="eventList" [eventDates]="eventDates">
      </app-event-list>
    </div>
    <div class="card-body">
      <app-event-details></app-event-details>
    </div>
  </div>
</div> -->
<div class="header">
  <ul>
    <li>
      <a [routerLink]="['']" >All Events</a>
    </li>
    <li>
      <a [routerLink]="['event-form']">Add Event</a>
    </li>
    <li>
      <a [routerLink]="['todays-event']">Todays Event</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
