<form class="eventForm" [formGroup]="eventForm" (ngSubmit)="addEvent()">
    Event Name <br>
    <input class="form" type="text" placeholder="Enter Event Name" formControlName="name"><br>
    
    Event Host <br>
    <input type="text" placeholder="Enter Event Host" formControlName="host"><br>
    Event Location<br>
    <input type="text" placeholder="Enter Event Location" formControlName="location"><br>
    Event Date<br>
    <input type="date" placeholder="Enter Event Date" formControlName="date"><br>
    <button class="btn" type="submit" >Add event</button>
</form>
  
<app-event-list [eventList]="eventList" class="hidden"></app-event-list>
<app-todays-event [eventList]="eventList" class="hidden"></app-todays-event>
