<div class="eventForm">
Event Name <br>
<input class="form" type="text" placeholder="Enter Event Name" [(ngModel)]="newName"><br>
Event Host <br>
<input type="text" placeholder="Enter Event Host" [(ngModel)]="newHost"><br>
Event Location<br>
<input type="text" placeholder="Enter Event Location" [(ngModel)]="newLocation"><br>
Event Date<br>
<input type="date" placeholder="Enter Event Date" [(ngModel)]="newDate"><br>
<button class="btn" type="submit" (click)="addEvent()" [routerLink]="['']">Add event</button>
</div>
<app-event-list [eventList]="eventList" class="hidden"></app-event-list>
<app-todays-event [eventList]="eventList" class="hidden"></app-todays-event>
